<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="es.gidm.backstack">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".HomeActivity"
      android:theme="@style/AppTheme.NoActionBar">
      android:label="Home"

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".ListsInLanguage"
        android:label="@string/title_activity_actividad2"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
      android:name=".MisPalabras"
      android:label="@string/title_activity_actividad2"
      android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
      android:name=".Palabras"
      android:label="@string/title_activity_actividad3"
      android:theme="@style/AppTheme.NoActionBar" >
    </activity>
    <activity
        android:name=".AprenderLanguages"
        android:label="Aprender_languages"
        android:theme="@style/AppTheme.NoActionBar" >
    </activity>
    <activity
        android:name=".AprenderSelectLanguages"
        android:label="Aprender_Selectlanguages"
        android:theme="@style/AppTheme.NoActionBar" >
    </activity>
    <activity
        android:name=".Aprender"
        android:label="Aprender_screen"
        android:theme="@style/AppTheme.NoActionBar" >
    </activity>
  </application>

</manifest>